{% load static %}
{% load bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agendamento</title>
</head>
<body>
{% include 'menu.html' %}
{% include 'carrosel.html' %}

<div class="container">
    <div class="mt-2">
        {% include 'msg.html' %}
    </div>
    <div class="row">
        {% for linhas in info %}
        <div class="col-md-6 col-sm-12 col-lg-4">
            {{linhas.nome}}<br>
            {{linhas.especialidade}}
            </p>
                <a class="btn btn-primary mt-2" href="{% url 'cursos' linhas.id %}">Saiba mais</a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>

{% bootstrap_css %}
{% bootstrap_javascript %}

</body>
</html>