{% load static %}
{% load bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">-->
    <title>Detalhes Curso</title>
</head>
<body>
{% include 'menu.html' %}
{% include 'carrosel.html' %}
<div class="container">
    <br><br>
    {{dados.nome}}<br><br>
    {{dados.especialidade}}<br><br>
    {% if dados.foto %}
    <img src="{{dados.foto.url}}" alt="">
    {% endif %}
</div>

{% bootstrap_css %}
{% bootstrap_javascript %}
</body>
</html>